.footer-container{
    margin-top: auto;
}

.footer{
    height: 132px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col{
    display: flex;
    align-items: center;
}

.footer__col--align--right{
    align-items: flex-end;
}

.social__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials{
    margin-right: 74px;
}

.social__item:last-child{
    margin-right: 0;
}

.social__link{
    display: block;
    position: relative;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.social__item--icon--telegram .social__link::after{
    content: '';
    background: url(../images/css_sprites.png) -10px -10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.social__item--icon--telegram .social__link::before{
    content: '';
    background: url(../images/css_sprites.png) -66px -10px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.social__item--icon--telegram .social__link:hover:after{
    opacity: 0;
}

.social__item--icon--telegram .social__link:hover:before{
    opacity: 1;
}

.social__item--icon--vk .social__link::after{
    content: '';
    background: url(../images/css_sprites.png) -10px -66px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.social__item--icon--vk .social__link::before{
    content: '';
    background: url(../images/css_sprites.png) -66px -66px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.social__item--icon--vk .social__link:hover:after{
    opacity: 0;
}

.social__item--icon--vk .social__link:hover:before{
    opacity: 1;
}

.social__item--icon--fb .social__link::after{
    content: '';
    background: url(../images/css_sprites.png) -122px -66px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.social__item--icon--fb .social__link::before{
    content: '';
    background: url(../images/css_sprites.png) -122px -10px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.social__item--icon--fb .social__link:hover:after{
    opacity: 0;
}

.social__item--icon--fb .social__link:hover:before{
    opacity: 1;
}

.social__item--icon--insta .social__link::after{
    content: '';
    background: url(../images/css_sprites.png) -10px -122px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.social__item--icon--insta .social__link::before{
    content: '';
    background: url(../images/css_sprites.png) -66px -122px;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.social__item--icon--insta .social__link:hover:after{
    opacity: 0;
}

.social__item--icon--insta .social__link:hover:before{
    opacity: 1;
}

.contacts__desc{
    color: #9A9A9A;
    font-size: 11px;
}

.contacts{
    font-style: normal;
    font-size: 26px;
    color: #FFFFFF;
    text-align: right;
}

.contacts__phone{
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
}